<div class="wrapper">
    <div class="directional-wrapper">
        <div></div>
        <button (click)="this.moveUp()">↑</button>
        <div></div>
    
        <button (click)="this.moveLeft()">←</button>
        <div></div>
        <button (click)="this.moveRight()">→</button>
        
        <div></div>
        <button (click)="this.moveDown()">↓</button>
        <div></div>
    </div>

    <div class="continuous-directional-wrapper">
        <button (click)="this.continuousMoveLeft()">←←</button>
        <button (click)="this.continuousMoveRight()">→→</button>
    </div>

    <div class="stop-wrapper">
        <button (click)="this.stop()">stop</button>
    </div>
</div>