.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2vw;
    row-gap: 2vh;

    button {
        background: transparent;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }

    button:hover {
        background: grey;
    }
}